.containerIcon {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 3px solid #373737;
    border-radius: 50%;
    top: -75px;
    left: calc(50% - 78px);
}

.text {
    margin-top: 125px;
    height: 80%;
}

.icon > img {
    display: inline-block;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.socialLinks {
    position: absolute;
    left: 50%;
    margin-left: -120px;
    bottom: 25px;
}


@media screen and (max-width: 900px) {
    .text > span {
	margin-top: 35px;
    }
}


@media screen and (max-width: 600px) {
    .infoContainer {
	font-size: 15px;
    }

    .text > span {
	text-align: center;
	font-size: 20px;
	margin-top: 30px;
    }
}

@media screen and (max-width: 400px) {
    .text > span {
	font-size: 18.5px;
	margin-top: 20px;
    }
}
