.text {
    padding-top: 45px;
    height: calc(100% - 170px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.introEntry{
    font-size: 28px;
    font-weight: bold;
}

.icon {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
}

.socialLinks {
    position: absolute;
    width: calc(100% - 30px);
    text-align: center;
    bottom: 25px;
}




@media screen and (max-width: 1250px) {
    .introEntry {
	font-size: 26px;
    }
}


/*Phones*/
@media screen and (max-width: 500px) {
    .introEntry {
	text-align: center;
	font-size: 23px;
    }
}


/*iPhone 5*/
@media screen and (max-width: 350px) {
    .text {
	height: calc(100% - 125px);
    }

    .introEntry {
	font-size: 19px;
    }

    .icon {
	width: 40px;
	height: 40px;
    }
}


/*Landscape mode on phones*/
@media screen and (max-height: 420px) and (orientation: landscape) {
    .text {
	height: calc(100% - 75px);
	padding-top: 10px;
    }

    .introEntry {
	text-align: left;
	font-size: 16.5px;
    }

    .icon {
	width: 25px;
	height: 25px;
    }

    .socialLinks {
	bottom: 15px;
    }
}
