html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Courier;
    color: #373737;
    min-height: 100%;
}

.contentContainer {
    min-height: 100%;
}

#intro {
    background: url("/images/grey_orange_bricks.jpg") no-repeat center top scroll;
}

#aboutMe {
    background: url("/images/grey_blue_bricks.jpg") no-repeat center center scroll;
}

#portfolio {
    background: url("/images/grey_red_bricks.jpg") no-repeat center center scroll;
}

#blog {
     background: url("/images/grey_bricks.jpg") no-repeat center center scroll;
}

#intro, #aboutMe, #portfolio, #blog {
    position: relative;
    height: 1080px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.infoContainer {
    position: absolute;
    background-color: #f4f4f4;
    border: 3px solid #373737;
    font-size: 20px;
    width: 65%;
    height: 600px;
    top: 20%;
    left: 17.5%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    -moz-box-shadow: 8px 8px rgba(0,0,0,0.45);
    -webkit-box-shadow: 8px 8px rgba(0,0,0,0.45);
    box-shadow: 8px 8px rbga(0,0,0,0.45);
}


.infoTitle {
    text-decoration: underline;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

span {
    font-size: 23px;
    display: block;
    font-weight: bold;
    margin-top: 60px;
}

.icon > img {
    display: inline-block;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.socialLinks {
    position: absolute;
    left: 50%;
    margin-left: -120px;
    bottom: 25px;
}

.highlighted {
    color: #fa5208;
    text-decoration: none;
}

.highlighted:hover {
    text-decoration: underline;
}



/*Misc CSS*/
.fivePercent {
    display: inline-block;
    width: 5%;
}

.tenPercent {
    display: inline-block;
    width: 10%;
}



/*Mobile CSS*/
@media screen and (max-width: 500px) {
    .infoTitle {
	font-size: 25px;
    }
}
