html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Courier;
    color: #373737;
    min-height: 100%;
}

.contentContainer {
    min-height: 100%;
}

/*
 *Backgrounds: #6d7993, #96858f, #9099a2
 */
#intro {
    background: url("/images/wide_rectangles_blue.png") center center
}

#myStory {
    background: url("/images/tasky_pattern_overcast.png") center center;
}

#portfolio {
    background: url("/images/squares_dusty.png") center center;
}

#blog {
     background: url("/images/grey_bricks.jpg") no-repeat center center;
}

#intro, #myStory, #portfolio, #blog {
    position: relative;
    height: 100vh;
}

.infoContainer {
    position: absolute;
    background-color: #f6f6f6;
    border: 3px solid #373737;
    font-size: 20px;
    width: 65%;
    height: 65vh;
    top: calc(17.5vh - 3px); /*3px because of the border */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-shadow: 8px 8px rgba(0,0,0,0.45);
    -webkit-box-shadow: 8px 8px rgba(0,0,0,0.45);
    box-shadow: 8px 8px rbga(0,0,0,0.45);
}

.headerContainer {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoTitle {
    text-decoration: underline;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

span {
    font-size: 25px;
    display: block;
    font-weight: bold;
}

.highlighted {
    color: #395fb2;
    text-decoration: none;
}

.highlighted:hover {
    text-decoration: underline;
}





/*Mobile CSS*/
@media screen and (max-width: 768px) {
    .infoContainer {
	top: calc(17.5vh - 3px);
	height: 65vh;
	width: 65%;
    }
}

@media screen and (max-width: 700px){
    .infoContainer {
	top: calc(3vh - 3px); /* 3px because of the border */
	height: 94vh;
	width: calc(90vw - 18px);

	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0 ;
	box-shadow: 0 0 0;
    }

    .headerContainer {
	height: 7.5%;
    }

    .infoTitle {
	font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .headerContainer {
	text-align: center;
    }
}

@media screen and (max-height: 420px) and (orientation: landscape) {
    /*Needed for iPhone X and Pixel 2 XL dimensions*/
    .infoContainer {
	top: calc(3vh - 3px); /* 3px because of the border */
	height: 94vh;
	width: calc(90vw - 18px);

	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0 ;
	box-shadow: 0 0 0;
    }

    .infoTitle {
	font-size: 35px;
    }

    .headerContainer {
	height: 10%;
    }
}
