html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Courier;
    color: #373737;
    min-height: 100%;
}

.contentContainer {
    min-height: 100%;
}

/*
 *Backgrounds: #6d7993, #96858f, #9099a2
 */
#intro {
    background: url("/images/wide_rectangles_blue.png") center center
}

#myStory {
    background: url("/images/squares_dusty.png") center center;
}

#portfolio {
    background: url("/images/tasky_pattern_overcast.png") center center;
}

#blog {
     background: url("/images/grey_bricks.jpg") no-repeat center center;
}

#intro:before, #myStory:before, #portfolio:before, #blog:before {
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#intro, #myStory, #portfolio, #blog {
    position: relative;
    height: 1080px;
}

.infoContainer {
    position: absolute;
    background-color: #f6f6f6;
    border: 3px solid #373737;
    font-size: 20px;
    width: 65%;
    height: 600px;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-shadow: 8px 8px rgba(0,0,0,0.45);
    -webkit-box-shadow: 8px 8px rgba(0,0,0,0.45);
    box-shadow: 8px 8px rbga(0,0,0,0.45);
}

.infoTitle {
    text-decoration: underline;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

span {
    font-size: 23px;
    display: block;
    font-weight: bold;
    margin-top: 60px;
}

.highlighted {
    color: #395fb2;
    text-decoration: none;
}

.highlighted:hover {
    text-decoration: underline;
}



/*Misc CSS*/
.fivePercent {
    display: inline-block;
    width: 5%;
}

.tenPercent {
    display: inline-block;
    width: 10%;
}



/*Mobile CSS*/
@media screen and (max-width: 500px) {
    .infoTitle {
	font-size: 25px;
    }

    .infoContainer {
	top: 15% !important;
	width: 80% !important;
    }

    #intro, #myStory, #portfolio, #blog {
	height: 875px;
    }
}
