.portfolioContainer {
    height: calc(100% - 5.5rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.entryContainer {
    width: 47.5%;
}

.workTitle {
    color: #395fb2;
    font-size: 1.75rem;
    margin-top: 0;
    margin-bottom: 4px;
}

.workSummary {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.35rem;
    font-weight: bold;
}

.workLink {
    text-decoration: none;
}

.workLink:hover {
    text-decoration: underline;
    text-decoration-color: #395fb2;
}

.workContainer {
    width: 100%;
}

.workDate {
    font-size: 1.35rem;
    font-weight: normal;
    display: block;
    margin-bottom: 7px;
    align-items: center;
}


@media screen and (max-width: 1200px) {
    .workTitle {
	font-size: 1.4rem;
    }

    .workSummary, .workDate {
	font-size: 1.1rem;
    }
}


@media screen and (max-width: 700px) {
    .portfolioContainer {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .workContainer {
	width: 100%;
    }

    .workTitle {
	text-align: center;
	font-size: 2.1rem;
    }

    .workSummary, .workDate {
	text-align: center;
	font-size: 1.3rem;
    }
}


@media screen and (max-width: 400px) {
    .workTitle {
	font-size: 1.75rem;
    }

    .workSummary, .workDate {
	font-size: 1.1rem;
    }
}


@media screen and (max-width: 375px) {
    .workTitle {
	font-size: 1.5rem;
    }

    .workSummary, .workDate {
	font-size: 1.17rem;
    }
}


@media screen and (max-width: 375px) and (min-height: 811px) {
    .workTitle {
	font-size: 1.5rem;
    }

    .workSummary, .workDate {
	font-size: 1.3rem;
    }
}


@media screen and (max-width: 360px) {
    .workSummary, .workDate {
        font-size: 1.1rem;
    }
}


@media screen and (max-width: 320px) {
    .workSummary, .workDate {
        font-size: .95rem;
    }
}


@media screen and (max-width: 823px) and (orientation: landscape) {
    .portfolioContainer {
    flex-direction: row;
	flex-wrap: wrap;
    }

    .workTitle {
	text-align: left;
	font-size: 1.8rem;
    }

    .workSummary, .workDate {
	text-align: left;
	font-size: 1.2rem;
    }
}


@media screen and (max-width: 640px) and (orientation: landscape) {
    .workTitle {
	font-size: 1.7rem;
    }

    .workSummary, .workDate {
	font-size: 1.2rem;
    }
}

@media screen and (max-width: 568px) and (orientation: landscape) {
    .workTitle {
	text-align: left;
	font-size: 1.4rem;
    }

    .workSummary, .workDate {
	text-align: left;
	font-size: 1rem;
    }
}
