.entryContainer {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}

.entryTitle {
    color: #395fb2;
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 25px;
}

.entrySummary {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 19px;
    font-weight: bold;
}

.entryLink {
    text-decoration: none;
}

.entryLink:hover {
    text-decoration: underline;
    text-decoration-color: #395fb2;
}


@media screen and (max-width: 1375px) {
    .entryTitle {
	font-size: 22px;
    }
    .entrySummary {
	font-size: 17px;
    }
}

@media screen and (max-width: 1100px) {
    .entryTitle {
	font-size: 20px;
    }
    .entrySummary {
	font-size: 15px;
    }
}

@media screen and (max-width: 950px) {
    .entryContainer {
	width: 90%;
	margin-bottom: 15px;
    }

    .entryTitle {
	font-size: 15px;
    }

    .entrySummary {
	font-size: 14px;
    }
}

@media screen and (max-width: 750px) {
    .entryTitle {
	font-size: 14px;
    }

    .entrySummary {
	font-size: 12.5px;
    }
}


@media screen and (max-width: 600px) {
    .entryTitle {
	font-size: 13px;
    }

    .entrySummary {
	font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    .entryTitle {
	font-size: 12px;
    }

    .entrySummary {
	font-size: 11px;
    }
}
